.camera-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

body {
  margin: 0;
  overflow: hidden;
  
}

.video-preview {
  width: 100%;
}

.button-container {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  
}

.button-container button {
  background-color: black;
  border-color: white;
  border-width: 5px;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  margin: 30px;
}

.button-container button:hover {
  background-color: gray;
}

.canvas-container {
  position: relative;
}

.hidden-canvas {
  display: none;
}

@media screen and (max-width: 768px) {
  .button-container button {
    
    width: 60;
    height: 60px;
    margin-right: 20px;
  }

  .button-container {
    bottom: 80px;
  }

  .video-preview {
    width: 100%;
    height: 1200px
  }
}

@media screen and (max-width: 400px) {
  .button-container button {

    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .video-preview {
    width: 100%;
    height: 600px
  }

  .button-container {
    bottom: 50px;
  }
}