.camera-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.video-preview {
  width: 100%;
}

.button-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.button-container button {
  background-color: black;
  border-color: white;
  border-width: 5px;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.button-container button:hover {
  background-color: gray;
}

.canvas-container {
  position: relative;
}

.hidden-canvas {
  display: none;
}

@media screen and (max-width: 768px) {
  .button-container {
    bottom: 100px;
    width: 30px;
    height: 30px;
  }

  .video-preview {
    width: 100%;
    height: 1200px
  }

  .button-container button {
    margin: 30px;
  }
}

@media screen and (max-width: 400px) {
  .button-container {
    bottom: 100px;
    width: 30px;
    height: 30px;
  }

  .video-preview {
    width: 100%;
    height: 600px
  }

  .button-container button {
    margin: 10px;
  }
}