.titleDiv {
    text-align: center; 
    margin-bottom: 40px;
  }

.spin {
  animation: spin 1s infinite linear;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.315);
  align-items: center;
  justify-content: center;
  height: 100vh;
}