.titleDiv {
    text-align: center; 
    margin-bottom: 40px;
  }

.spin {
  animation: spin 1s infinite linear;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.315);
  align-items: center;
  justify-content: center;
}

.sbIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}