.contenedor {
    width: 100%; /* Puedes ajustar este valor según tus necesidades */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que sobresale del contenedor */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto truncado */
}

.selectedTasks {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.expanded {
    width: 100%;
    transition: width 0.3s ease;
}

.popupContainer {
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    border: 0.1px solid rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    background-color: #0000001a;
    backdrop-filter: blur(60px);    
  }

  .buttonsDiv {
    display: flex;  
    justify-content: space-between;
  }