.buttonsDiv {
    display: flex;  
    justify-content: space-between;
  }

.icon {
  font-size: 30px;
  transform: "translateY(-85%)" 
}

.titleDiv {
  text-align: center; 
  margin-bottom: 40px;
}

.homeContainer {
  width: 100%;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
  padding: 80px;
  border: 0.1px solid rgba(255, 255, 255, 0.103);
  border-radius: 10px;
  background-color: #0000008f;
  backdrop-filter: blur(20px);
}

.homeButton {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.300);
  color: white;
  border-width: 1px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  border: transparent;
  margin-left: 10px;
  margin-right: 10px;
}
.homeButton:hover {
  border: 1px solid white;
}

.btnDiv {
  width: 100%; 
  display: flex; 
  flex-direction: column ; 
  align-items: center; 
  color: white;
  margin: 10px;
  font-size: 11px;
}


@media (max-width: 1000px) {
  .homeContainer {
    width: 100%;
    max-width: 70%;
    max-height: 100%;
    padding: 30px;
  }
  
  .buttonsDiv {
    display: initial;  
    width: 100%;
  }

  .homeButton{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
  
  .btnDiv {
    width: 100%; 
    display: flex; 
    flex-direction: column ; 
    align-items: center;
    margin: 0px
  }

  .btnDiv label {
    display: none;
  }
}