.smallNumericInput {
    width: 50px;
}

.categoryLabel {
    color: white;
    margin-left: 25px;
}

.totalAmountLabel {
    margin-left: 15px;
    margin-right: 15px;
}

.columnLabel {
    color: white;
    margin-right: 25px;
}