.smallNumericInput {
    width: 50px;
}

.categoryLabel {
    color: white;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    max-width: 100px;
}

.categoryLabel::after {
    content: attr(data-full-label); /* Display the full label content */
    position: absolute;
    top: 0;
    left: 100%; /* Position it just outside the parent */
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out; /* Add a transition for a smooth effect */
    transform: translateX(-100%);
  }

.categoryLabel:hover::after {
    opacity: 1; /* Show the full label on hover */
    transform: translateX(0); /* Move from left to right */
  }

.totalAmountLabel {
    margin-left: 15px;
    margin-right: 15px;
    width: 70px;
    display: inline-block;
    background-color: grey;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.columnLabel {
    color: white;
    margin-left: 25px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis; 
     white-space: nowrap;
}