/* Login.module.css */
/* Login.modules.css */

.titleDiv {
  text-align: center; 
  margin-bottom: 40px;
}

.username {
  color: white; 
  font-weight: bold;
}

.btn {
  width: calc(50% - 10px);
  background-color: rgba(255, 255, 255, 0.300);
  color: white;
  height: 45px;             
}

.popupContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
  border: 0.1px solid rgba(255, 255, 255, 0.103);
  border-radius: 10px;
  background-color: #0000001a;
  backdrop-filter: blur(60px);    
}

.buttonsDiv {
  display: flex;  
  justify-content: space-between;
}

.loginContainer {
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
  padding: 50px;
  border: 0.1px solid rgba(255, 255, 255, 0.103);
  border-radius: 10px;
  background-color: #0000008f;
  backdrop-filter: blur(60px);
  
}


@media (max-width: 1300px) {
  .loginContainer {
    max-width: 100%;
    height: 100%;
    
    box-shadow: none;
    padding: 0px;
    border: none;
    border-radius: none;
    background-color: none;
    backdrop-filter: blur(5px);
    
    border-radius: 0px;
  }

  .formContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 820px) {
  .loginContainer {
    max-width: 100%;
    height: 100%;
    
    box-shadow: none;
    padding: 0px;
    border: none;
    border-radius: none;
    background-color: none;
    backdrop-filter: blur(5px);
    
    border-radius: 0px;
  }

  .formContainer {
    width: 50%; /* Cambia el ancho a 50% cuando el ancho de la pantalla sea <= 820px */
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 500px) {
  .formContainer {
    width: 80%; /* Cambia el ancho a 80% cuando el ancho de la pantalla sea <= 412px */
  }

@media (max-width: 500px) {
  .formContainer {
    width: 80%; /* Cambia el ancho a 80% cuando el ancho de la pantalla sea <= 412px */
  }
}
  
}